{% extends 'base.html.twig' %}

{% block title %}MessageUtilisateur index{% endblock %}

{% block body %}
    <h1>MessageUtilisateur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contenu</th>
                <th>DateHeureEnvoi</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message_utilisateur in message_utilisateurs %}
            <tr>
                <td>{{ message_utilisateur.id }}</td>
                <td>{{ message_utilisateur.contenu }}</td>
                <td>{{ message_utilisateur.dateHeureEnvoi ? message_utilisateur.dateHeureEnvoi|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_message_utilisateur_show', {'id': message_utilisateur.id}) }}">show</a>
                    <a href="{{ path('app_message_utilisateur_edit', {'id': message_utilisateur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_message_utilisateur_new') }}">Create new</a>
{% endblock %}
