{% extends 'base.html.twig' %}

{% block title %}TypeRelation index{% endblock %}

{% block body %}
    <h1>TypeRelation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Commentaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_relation in type_relations %}
            <tr>
                <td>{{ type_relation.id }}</td>
                <td>{{ type_relation.nom }}</td>
                <td>{{ type_relation.commentaire }}</td>
                <td>
                    <a href="{{ path('app_type_relation_show', {'id': type_relation.id}) }}">show</a>
                    <a href="{{ path('app_type_relation_edit', {'id': type_relation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_type_relation_new') }}">Create new</a>
{% endblock %}
