{% extends 'base.html.twig' %}

{% block title %}TypeRelation{% endblock %}

{% block body %}
    <h1>TypeRelation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_relation.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ type_relation.nom }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ type_relation.commentaire }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_type_relation_index') }}">back to list</a>

    <a href="{{ path('app_type_relation_edit', {'id': type_relation.id}) }}">edit</a>

    {{ include('type_relation/_delete_form.html.twig') }}
{% endblock %}
