{% extends 'base.html.twig' %}

{% block title %}TypeRessource{% endblock %}

{% block body %}
    <h1>TypeRessource</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_ressource.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ type_ressource.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_type_ressource_index') }}">back to list</a>

    <a href="{{ path('app_type_ressource_edit', {'id': type_ressource.id}) }}">edit</a>

    {{ include('type_ressource/_delete_form.html.twig') }}
{% endblock %}
